@model ikincieloto.ViewModels.SignUp

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/signupstyle.css" rel="stylesheet" />
    <link href="~/Content/tableStyle.css" rel="stylesheet" />
    <title>SignUp</title>

</head>
<body>
    @using (Html.BeginForm("SignUp", "Login", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <br /><br />
              <div class="form-horizontal">
                  <h4>Kayıt Ol</h4>

                  <hr />
                  @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                  <div class="form-group">
                      @Html.LabelFor(x => x.Ad, htmlAttributes: new { @class = "control-label col-md-2" })
                      <div class="col-xs-4">
                          @Html.EditorFor(model => model.Ad, new { htmlAttributes = new { @class = "form-control" } })
                          @Html.ValidationMessageFor(model => model.Ad, "", new { @class = "text-danger" })
                      </div>
                  </div>

                  <div class="form-group">
                      @Html.LabelFor(model => model.Soyad, htmlAttributes: new { @class = "control-label col-md-2" })
                      <div class="col-xs-4">
                          @Html.EditorFor(model => model.Soyad, new { htmlAttributes = new { @class = "form-control" } })
                          @Html.ValidationMessageFor(model => model.Soyad, "", new { @class = "text-danger" })
                      </div>
                  </div>

                  <div class="form-group">
                      @Html.LabelFor(model => model.KullanıcıAdı, htmlAttributes: new { @class = "control-label col-md-2" })
                      <div class="col-xs-4">
                          @Html.EditorFor(model => model.KullanıcıAdı, new { htmlAttributes = new { @class = "form-control" } })
                          @Html.ValidationMessageFor(model => model.KullanıcıAdı, "", new { @class = "text-danger" })
                      </div>
                  </div>

                  <div class="form-group">
                      @Html.LabelFor(model => model.Eposta, htmlAttributes: new { @class = "control-label col-md-2" })
                      <div class="col-xs-4">
                          @Html.EditorFor(model => model.Eposta, new { htmlAttributes = new { @class = "form-control" } })
                          @Html.ValidationMessageFor(model => model.Eposta, "", new { @class = "text-danger" })
                      </div>
                  </div>

                  <div class="form-group">
                      @Html.LabelFor(model => model.telefon, htmlAttributes: new { @class = "control-label col-md-2" })
                      <div class="col-xs-4">
                          @Html.EditorFor(model => model.telefon, new { htmlAttributes = new { @class = "form-control" } })
                          @Html.ValidationMessageFor(model => model.telefon, "", new { @class = "text-danger" })
                      </div>
                  </div>

                  <div class="form-group">
                      @Html.LabelFor(model => model.şifre, htmlAttributes: new { @class = "control-label col-md-2" })
                      <div class="col-xs-4">
                          @Html.EditorFor(model => model.şifre, new { htmlAttributes = new { @class = "form-control" } })
                          @Html.ValidationMessageFor(model => model.şifre, "", new { @class = "text-danger" })
                      </div>
                  </div>

                  <div class="form-group">
                      <div class="col-md-offset-2 col-md-10" style="margin-left:25%;">
                          <input type="submit" value="Submit" class="btn btn-default" />
                      </div>
                  </div>
              </div>
    }


</body>
</html>

