@model ikincieloto.Areas.ViewModels.UsersEdit

@{
    ViewBag.Title = "kullanıcı_edit";
    Layout = "~/Areas/Admin/Views/Shared/AdminNav.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal ">
    <h4>UsersEdit</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Ad, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.Ad, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Ad, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Soyad, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.Soyad, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Soyad, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.KullanıcıAdı, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.KullanıcıAdı, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.KullanıcıAdı, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.telefon, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.telefon, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.telefon, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="panel panel-default"style="width:25%; margin-left:17%;">
        <div class="panel-heading">Roles</div>
        <div class="panel-body">
            <ul class="list-group">
                @for (var i = 0; i < Model.Roles.Count; i++)
                {
                    <li class="list-group-item">
                        @Html.Hidden("Roles[" + i + "].Id", Model.Roles[i].Id)
                        <label for="Roles_@(i)___IsChecked">
                            @Html.CheckBox("Roles[" + i + "].IsChecked", Model.Roles[i].IsChecked)
                            @Model.Roles[i].Name
                        </label>
                    </li>
                }
            </ul>
        </div>  
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" style="margin-left:30%;">
            <input type="submit" value="Kaydet" class="btn btn-default" />
        </div>
    </div>
</div>
}


