@model ikincieloto.Models.İlan

@{
      ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>
<style>
    body {
        background: url('../Images/sezginindenbackground.png') no-repeat center center fixed;
        background-position: center;
        background-size: cover;
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ilanEkle</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <h2>İlan Ver</h2>
    <div class="ilan">
        @using (Html.BeginForm("ilanEkle", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div style="margin-left:25%;">
                <div class="form-horizontal">

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                    @Html.LabelFor(model => model.Marka, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.Marka, new SelectList(new List<Object> { new { value = "Renault", text = "Renalut" }, new { value = "Fiat", text = "Fiat" }, new { value = "Ferrari", text = "Ferrari" }, new { value = "Ford", text = "Ford" } , new { value = "Seat", text = "Seat" }, new { value = "Tofaş", text = "Tofaş" } }, "value", "text", 1), new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Marka, "", new { @class = "text-danger" })
                    </div>
                </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Modeli, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Modeli, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Modeli, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Yıl, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Yıl, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Yıl, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Fiyat, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Fiyat, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Fiyat, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Kilometre, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Kilometre, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Kilometre, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Renk, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Renk, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Renk, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.telefon, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.telefon, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.telefon, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Eposta, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Eposta, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Eposta, "", new { @class = "text-danger" })
                        </div>
                    </div>




                    <div class="form-group">
                        @Html.LabelFor(model => model.Yakıt, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.Yakıt, new SelectList(new List<Object> { new { value = "LPG", text = "LPG" }, new { value = "Benzin", text = "Benzin" }, new { value = "Dizel", text = "Dizel" }, new { value = "Elektrikli", text = "Elektrikli" } }, "value", "text", 1), new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Yakıt, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <div class="form-group">
                        @Html.LabelFor(model => model.Vites, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.Vites, new SelectList(new List<Object> { new { value = "Manuel", text = "Manuel" }, new { value = "Otomatik", text = "Otomatik" } }, "value", "text", 1), new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Vites, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        <br />
                        <label style="float:left; margin-left:10%;">Fotoğraf</label>
                        <div class="col-md-4 ekleme">
                            <input style=" margin-left:3%;" type="file" name="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="inesrtImage" />
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Açıklama, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Açıklama, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Açıklama, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="İlan Ver" class="btn btn-default" style="margin-top:2%; margin-left:15%;" />
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</body>
</html>


<style>
    .ilan {
     
        width:80%;
        margin-left:10%;
       
        -webkit-box-shadow: 15px 14px 18px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: 15px 14px 18px -4px rgba(0,0,0,0.75);
        box-shadow: 15px 14px 18px -4px rgba(0,0,0,0.75);
    }
</style>